*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right, #79A4FB, #306546);
  
}

main {
  margin: 5em auto 0 auto;
  background-color: blanchedalmond;
  padding: 1em;
  max-width: 900px;
  width: 90%;
  justify-content: center;


  
}

.titulo{
  display: flex;
  justify-content: center;
}

h1{
  background-image: 
  linear-gradient(to right, #43cf26ad, #85231f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  white-space:inherit;
}

.container{
  display: flex;
  justify-content: space-between;
  width: 5em;
  border: 50px;
  height: auto;
}

.caixa{
  background-color: #85231f;
  height: auto;
  width: auto;

  margin-left: 2em;
  margin-right: 2em;

}

#valorGasolina{
  margin-top: 30px;
  margin-bottom: 20px;
  height: 40px;
}
#valorAlcool{
  height: 40px;
  margin-top: 20px;
}

#botaoCalculo{
  margin-top: 6em;
  width: 100%;
  max-width: 400px;
  height: 4em;
  border:0.5em solid black;
  padding-left:4em ;
  padding-right:4em ;
}

#resultado{
  margin-top: 3em;
  font-weight: bold;
  font-size: 20px;
  width: 100px;
  /* width: auto; */
  
  
}

/* .tank{
  width: 2em;
} */

footer{
  background-color:  #333;
  color: white;
  padding: 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;


}
marquee{
  width: 12em;
}