*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right, #79A4FB, #306546);
  
}

main {
  margin-top: 5em;
  margin-left: 0;
  margin-right: 0;
  background-color: blanchedalmond;
  justify-content: center;
  height: 300px;
  
}

.titulo{
  display: flex;
  justify-content: center;
}

h1{
  background-image: 
  linear-gradient(to right, #43cf26ad, #85231f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.container{
  display: flex;
  justify-content: space-between;
}

.caixa{
  /* background-color: #85231f; */
  height: 200px;
  width: auto;
  margin-left: 3em;
  margin-right: 3em;

}

#valorGasolina{
  margin-top: 30px;
  margin-bottom: 20px;
  height: 40px;
}
#valorAlcool{
  height: 40px;
  margin-top: 20px;
}

#botaoCalculo{
  margin-top: 6em;
  width: 24em;
  height: 4em;
  border: 4px solid black;
}

#resultado{
  margin-top: 100px;
  font-weight: bold;
  font-size: 3.5em;

  
}

/* .tank{
  width: 2em;
} */

footer{
  background-color:  #333;
  color: white;
  padding: 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;


}